@charset "UTF-8"

* {
    front-family: arial, helvetica, sans-serif;
    front-size: 16px;
    
}

body {
    background-image: linear-gradient(to right, #2D2A8C, #0D0D0D, #5E5BA6);


}


main{
    background-color: aliceblue;
    width: 500px;
    margin: auto;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 2px 2px 3px #221f68
        
}

h2{
    text-align: center;
    text-shadow: 1px, 1px, 2px, #9e5555;
}